.container_all {
    background: rgba(254, 254, 0, 0.5);
    padding: 1px;
    padding-bottom: 1%;
    margin-top: 0px;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
    justify-content:flex-start;        
    border-radius: 7px;
    border: 3px solid #9e2a2b;
    text-align: left;
}

.input_form {
    margin-top: 15px;
    position: relative;    
}

li {
    list-style:none;
}

.error {
    margin: 0;
    padding: 0;
    color: #9e2a2b;
    font-size: 12px;
    font-weight: bold;
}

.type_container {
    margin-top: 15px;
    margin-bottom: 0px;
}

.list_types {
    display: flex;
    justify-content: center;
}

.btn_x {    
    margin-right: 50%;
    color: #9e2a2b;
    border-color: #9e2a2b;
    background: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    justify-content: center;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.btn_x:hover {
    background: #9e2a2b;
    color: #ffffff;
}

.type {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
}

.btn_home{     
    border: 3px solid #9e2a2b;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 50px;
    text-decoration: none;    
}

.btn_home:hover{
    background: #9e2a2b;
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn_create{    
    border: 3px solid #9e2a2b;
    border-radius: 7px;
    margin-top: 10px;
    font-size:15px;
}

.btn_create:hover{
    background: #9e2a2b;
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
    border-color: white;
}