.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0%;
    max-width: 1300px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    padding-right: 10px;
    padding-bottom: 8px;
    margin: 10px;
    border: 1px solid #9e2a2b;
    border-radius: 10%;
    cursor: default;
    transition: all 400ms ease;
    background: linear-gradient(red 50%,
            white 50%);
}


.read_more {
    text-decoration: none;
    color: black;
    border: 1px solid #9e2a2b;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    transition: all 400ms ease;
    font-weight: 400;
    margin-left: 10%;
}

.read_more:hover {
    background: red;
    color: #ffffff;
}

.title_name {
    color: black;
    margin: -1px 1px -28px 1px;
}

.title_type {
    color: black;
    margin: 1px 1px -28px 1px;
}

.name1 {
    
    margin-top: -50px;
}



.card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card_image {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
}
